@model WatchWord.Web.UI.Models.Materials.AddMaterialViewModel
@using (Html.BeginForm("Add", "Materials", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="form-horizontal">
        <div class="form-group">
            @Html.TextBoxFor(m => m.File, new { type = "file", style = "btn btn-default" })
            @Html.ValidationMessageFor(m => m.File)
            <input type="submit" value="Create" class="btn btn-default" />

            <div class="words">
                @foreach (var word in Model.Words)
                {
                    <div class="word">@word</div>
                }
            </div>
        </div>
    </div>
}