@model WatchWord.Web.UI.Models.Materials.DisplayAllViewModel
@{
    ViewBag.Title = "Materials";
}

@foreach (var material in Model.Materials)
{
    <div class="material-in-list">
        <a href=@Url.Action(material.Id.ToString(), "Material")>@material.Name</a>
    </div>
}