@model WatchWord.Web.UI.Models.Materials.MaterialsViewModel
@{
    ViewBag.Title = Model.Title;
}

<h3>Materials</h3>

@foreach (var material in Model.Materials)
{
    <div class="material-in-list">
        <a href=@Url.Action("Material/" + material.Id, "Materials")>@material.Name</a>
    </div>
}