@model WatchWord.Domain.Entity.Material
@{
    ViewBag.Title = "Save material";
}

@{
    // TODO: Make SaveMaterialViewModel for base64 string
    var base64 = "";
    if (Model != null)
    {
        base64 = Convert.ToBase64String(Model.Image);
    }

    var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
}

@using (Html.BeginForm("Save", "Materials", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="form-horizontal">
        <!--Basic info-->
        <div class="table-layout">
            <div class="table-cell fixed-width-200">
                <img src="@imgSrc" alt="Image" />
            </div>
            <div class="table-cell">
                @Html.LabelFor(m => m.Name)
                <br />
                @Html.LabelFor(m => m.Description)
                <br />
                <input type="submit" value="Save material" class="btn btn-default" />
            </div>
        </div>
        <!--Parsed words-->
        <div class="words">
            @if (Model != null && Model.File.Words != null)
            {
                foreach (var word in Model.File.Words)
                {
                    <div class="word">@word.TheWord</div>
                }
            }
        </div>
    </div>
}