/* FOR XS*/
@media (max-width: 768px) {
    #material-name {
        text-align: center;
    }
}

/* BASICS */

.field-validation-error {
    color: #D04437;
}

.search-group {
    padding-top: 1px;
}

/* WORDS */

.words {
    margin-top: 5px;
    margin-bottom: 15px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-between;
}

    .words:after {
        content: "";
        -ms-flex: auto;
        -webkit-flex: auto;
        flex: auto;
    }

.new-word, .known-word, .learn-word {
    margin-top: 1px;
    margin-right: 6px;
    display: inline-block;
    line-height: 1.3;
    -ms-flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
}

.origin, .other-actions {
    color: #2a2b50;
    background-color: #e0e0e0;
    border-radius: 0.25em;
    padding: 0.2em 0.6em 0.3em;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.known-word > .origin {
    background-color: #9cd6ae;
}

.learn-word > .origin {
    background-color: #fbd0a8;
}

.translation {
    font-size: 70%;
    text-align: right;
    color: #333;
    height: 12.5px;
}

.origin:hover {
    color: #000000;
    background-color: #e86868;
}

.origin.context-menu-active {
    color: #000000;
    background-color: #e86868;
}

/* WORD MODAL */

.modal {
    text-align: center;
}

.button-inline {
    margin-top: 0.5em;
    margin-right: 0.5em;
}

@media screen and (min-width: 768px) {
    .modal:before {
        display: inline-block;
        vertical-align: middle;
        content: "";
        height: 100%;
    }
}

.modal-dialog {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

.modal-button {
    padding-top: 0.2em;
}

.modal-footer {
    text-align: center;
    padding: 10px;
}

.other-actions {
    font-size: 80%;
}

    .other-actions:hover {
        color: #000000;
        background-color: #e86868;
    }

/* REGISTRATION PAGE */

.registration-form {
    margin-top: 40px;
    padding: 10px 30px;
    border: .3px solid #000;
    border-radius: 5px;
    -moz-box-shadow: 1px 1px 2px 2px gray;
    -webkit-box-shadow: 1px 1px 3px 1px #a19d9d;
    box-shadow: 1px 1px 3px 1px #a19d9d;
    background-color: #fff;
}

/* PARSE MATERIAL FORM */

#series {
    display: none;
}

.sign-up {
    padding-bottom: 0;
}

.alert ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 5px;
}

#file-form input[type=file] {
    display: none;
}

#file-form input[readonly] {
    background-color: #fff !important;
}

#file-form {
    margin-top: 5px;
    padding: 20px 30px;
    border: .3px solid #000;
    border-radius: 5px;
    -moz-box-shadow: 1px 1px 2px 2px gray;
    -webkit-box-shadow: 1px 1px 3px 1px #a19d9d;
    box-shadow: 1px 1px 3px 1px #a19d9d;
    background-color: #fff;
}

/* MATERIAL */

.materialInfo img {
    margin: 0 auto 0 auto;
}

.material-act-button {
    display: block;
    width: 190px;
    margin: 10px auto 0 auto;
}

.materialInfo .words {
    clear: left;
}

#material-name {
    font-weight: bold;
    font-size: 200%;
}

.material {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 230px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

    .material img {
        -moz-box-shadow: .2px .2px 1px 1px #6c6c6c;
        -webkit-box-shadow: .2px .2px 1px 1px #6c6c6c;
        box-shadow: .2px .2px 1px 1px #6c6c6c;
    }

    .material:hover {
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        -moz-box-shadow: .5px .6px 3px 1px #254054;
        -webkit-box-shadow: .5px .6px 3px 1px #254054;
        box-shadow: .5px .6px 3px 1px #254054;
        background-color: #e6f4ff;
    }

.material-name {
    font-size: 20px;
    font-weight: bold;
    color: #254054;
}

.material .words-count > :first-child {
    color: #008cba;
    font-weight: bold;
    font-size: 14px;
}

.material .material-type {
    margin-left: 19px;
}

.words-count {
    padding-right: 20px;
}
