
/* BASICS */

.field-validation-error {
    color: #D04437;
}

.search-group {
    padding-top: 1px;
}

/* WORDS */

.words {
    margin-top: 5px;
}

.word {
    margin-top: 5px;
    display: inline-block;
}

.origin {
    color: #222469;
    border: 1px solid #fcdddd;
}

.translation {
    font-size: 70%;
    text-align: right;
    color: #222469;
}

@keyframes pop {
    from {
        color: #d04437;
        border-color: #ffb3b3;
    }

    to {
        color: #222469;
        border-color: #fcdddd;
    }
}

.origin:hover {
    -webkit-animation: pop 1s 1;
    -moz-animation: pop 1s 1;
    -ms-animation: pop 1s 1;
    -o-animation: pop 1s 1;
    animation: pop 1s 1;
}

.context-menu-active {
    color: #d04437;
    border-color: #ffb3b3;
}

/* REGISTRATION PAGE */

.registration-form {
    margin-top: 40px;
    padding: 10px 30px;
    border: .3px solid #000;
    -ms-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 1px 1px 2px 2px gray;
    -webkit-box-shadow: 1px 1px 3px 1px #a19d9d;
    -ms-box-shadow: 1px 1px 3px 1px #a19d9d;
    box-shadow: 1px 1px 3px 1px #a19d9d;
    background-color: #fff;
}

/* PARSE MATERIAL FORM */

#series {
    display: none;
}

.sign-up {
    padding-bottom: 0;
}

.alert ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 5px;
}

#file-form input[type=file] {
    display: none;
}

#file-form input[readonly] {
    background-color: #fff !important;
}

#file-form {
    margin-top: 5px;
    padding: 20px 30px;
    border: .3px solid #000;
    -ms-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 1px 1px 2px 2px gray;
    -webkit-box-shadow: 1px 1px 3px 1px #a19d9d;
    -ms-box-shadow: 1px 1px 3px 1px #a19d9d;
    box-shadow: 1px 1px 3px 1px #a19d9d;
    background-color: #fff;
}

/* MATERIAL */

.materialInfo img {
    float: left;
    margin-right: 20px;
    margin-bottom: 5px;
}

.materialInfo .words {
    clear: left;
}

.materialInfo form {
    display: inline-block;
    margin-left: 10px;
}

#material-name {
    font-weight: bold;
    font-size: 200%;
}

.material {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 230px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
    .material img {
        -moz-box-shadow: .2px .2px 1px 1px #6c6c6c;
        -webkit-box-shadow: .2px .2px 1px 1px #6c6c6c;
        box-shadow: .2px .2px 1px 1px #6c6c6c;
    }

    .material:hover {
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        -moz-box-shadow: .5px .6px 3px 1px #254054;
        -webkit-box-shadow:.5px .6px 3px 1px #254054;
        box-shadow: .5px .6px 3px 1px #254054;
        background-color: #e6f4ff;
    }

    .material-name {
        font-size: 20px;
        font-weight: bold;
        color: #254054;
    }

.material .words-count> :first-child {
    color: #008cba;
    font-weight: bold;
    font-size: 14px;
}

.material .material-type {
    margin-left: 19px;
}

.words-count{
    padding-right: 20px;
}