.field-validation-error {
    color: #D04437;
}

.words {
    margin-top: 20px;
}

.word {
    color: #222469;
    display: inline;
    border: 1px solid #fcdddd;
}

.search-group {
    padding-top: 1px;
}

.registration-form {
    margin-top: 40px;
    padding: 10px 30px;
    border: .3px solid #000;
    -ms-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 1px 1px 2px 2px gray;
    -webkit-box-shadow: 1px 1px 3px 1px #a19d9d;
    -ms-box-shadow: 1px 1px 3px 1px #a19d9d;
    box-shadow: 1px 1px 3px 1px #a19d9d;
    background-color: #fff;
}

.sign-up {
    padding-bottom: 0;
}

.alert ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 5px;
}

#file-form input[type=file] {
    display: none;
}

#file-form input[readonly] {
    background-color: #fff !important;
}

#series {
    display: none;
}

#file-form {
    margin-top: 5px;
    padding: 20px 30px;
    border: .3px solid #000;
    -ms-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 1px 1px 2px 2px gray;
    -webkit-box-shadow: 1px 1px 3px 1px #a19d9d;
    -ms-box-shadow: 1px 1px 3px 1px #a19d9d;
    box-shadow: 1px 1px 3px 1px #a19d9d;
    background-color: #fff;
}
